<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<dict>
		<key>Show Cone &amp; Cup</key>
		<string>"com.ausoptom.ThreeDRings.openchart.conecup"</string>
		<key>Show Small Cone</key>
		<string>com.ausoptom.ThreeDRings.openchart.smallcone"</string>
		<key>Start Rotation</key>
		<string>com.ausoptom.ThreeDRings.control.start</string>
		<key>Stop Rotation</key>
		<string>com.ausoptom.ThreeDRings.control.stop</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
